<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/DAQsManagerCSS/custom.css" />

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display:inline;float:left">
                    &nbsp;
                    <b style="font-size: 30px" id="cId"></b>
                    &nbsp;
                </div>
                <div style="display:inline">
                    <span class="glyphicon glyphicon-refresh btn btn-link btn-lg" onclick="refreshText()"></span>
                </div>
                <div style="display:inline;float:right">
                    <a href="/daqsmanager">
                        <span class="glyphicon glyphicon-arrow-left btn btn-link btn-lg"></span>
                    </a>
                </div>
            </div>
        </div>
        @Html.Partial("_PartialDetail", new string[2] { "SampleRate", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "Length", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "ChannelName", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "ChannelCount", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "TriggerType", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "TriggerSource", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "Delay", "Fuck you" })
        @Html.Partial("_PartialDetail", new string[2] { "SyncType", "Fuck you" })

        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-warning btn-lg" onclick="saveConfig()">
                    <b>&nbsp;Save applied Changes&nbsp;</b>
                </button>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var cardId;
    var urlPath;

    window.onload = function () {
        urlPath = window.location.pathname;
        cardId = urlPath.substring(urlPath.lastIndexOf("/") + 1);
        document.getElementById("cId").innerHTML = cardId;
        document.getElementById("cId").style.color = '#338dcd';
        refreshText();
    }

    function refreshText() {
        setText("SampleRate");
        setText("Length");
        setText("ChannelName");
        setText("ChannelCount");
        setText("TriggerType");
        setText("TriggerSource");
        setText("Delay");
        setText("SyncType");
    }

    function setText(id) {
        $.ajax({
            url: "/" + cardId + "/" + id,
            type: "get",
            async: true,
            success: function (data) {
                var obj = JSON.parse(data);
                document.getElementById(id + "textId").setAttribute("value", obj.ObjectVal);
            }
        });
    }

    function apply(id) {
        var value = $('#' + id.toString() + 'textId').val();
        value = value.replace(/\//g, ".");
        $.ajax({
            url: "/" + cardId + "/" + id + "/" + value,
            type: "post",
            async: true,
            success: function (data) {
                alert(cardId + "'s " + id +" has applied!")
            },
            error: function () {
                alert("Apply Failed!")
            }
        });
    }

    function saveConfig() {
        $.ajax({
            url: "/" + cardId + "/saveconfig",
            type: "put",
            async: true,
            success: function () {
                alert(cardId + "'s config has been saved!")
            },
            error: function () {
                alert("Save Failed!")
            }
        });
    }
</script>